:root {
    /* Sky_Andrehlb color pallet */
    --light-skyblue: #87C3E7;
    --celestial-blue: #4192CA;
    --steel-blue: #3481C9;
    --alice-blue: #DDEBF2;
    --carolina-blue: #6BB5D2;

/* Sun_Andrehlb color pallet */
    --xanthous: #F8C76A;
    --vanilla: #F8EbbF;
    --jasmine: #FDE285;
    --peach-yellow: #F4DFAC;
    --jasmine-darker: #FDD87E;

/* Global_Andrehlb color pallet */
    --black: #000000;
    --blue: #0000FF;
    --brown: #A52A2A;
    --celestial-blue-1: #accbe8; /* Azul mais claro */
    --celestial-blue-2: #6d91c9;
    --celestial-blue-3: #6ea4fc; /* --celestial-blue */
    --celestial-blue-4: #4d90ff;
    --celestial-blue-5: #1a70ff; /* Azul mais escuro */
    --cyan: #00FFFF;
    --dark-blue: #00008B;
    --dark-cyan: #008B8B;
    --dark-brown: #8B4513;
    --dark-gold: #B8860B;
    --dark-gray: #A9A9A9;
    --dark-green: #006400;
    --dark-magenta: #8B008B;
    --dark-maroon: #8B0000;
    --dark-orange: #FF8C00;
    --dark-pink: #FF69B4;
    --dark-purple: #4B0082;
    --dark-red: #8B0000;
    --dark-silver: #A9A9A9;
    --dark-teal: #008080;
    --dark-yellow: #808000;
    --gold: #FFD700;
    --gray: #808080;
    --gray-1: #d7d4d4; /* Cinza mais claro */
    --gray-2: #cccccc;
    --gray-3: #999999;
    --gray-4: #666666;
    --gray-5: #333333; /* Cinza mais escuro */
    --green: #008000;
    --light-blue: #ADD8E6;
    --light-brown: #F4A460;
    --light-cyan: #E0FFFF;
    --light-gold: #FFD700;
    --light-gray: #D3D3D3;
    --light-green: #90EE90;
    --light-magenta: #FF00FF;
    --light-maroon: #B03060;
    --light-navy: #000080;
    --light-pink: #FFB6C1;
    --light-red: #FFA07A;
    --light-teal: #008080;
    --light-yellow: #FFFFE0;
    --light-orange: #FFDAB9;
    --light-purple: #E6E6FA;
    --light-silver: #C0C0C0;
    --magenta: #FF00FF;
    --maroon: #800000;
    --orange: #FFA500;
    --pink: #FFC0CB;
    --purple: #800080;
    --red: #FF0000;
    --silver: #C0C0C0;
    --teal: #008080;
    --yellow: #FFFF00;
    --white: #FFFFFF;
}

body {
    font-family: 'San Francisco', 'Segoe UI', Roboto, sans-serif;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(300deg, var(--light-skyblue), var(--celestial-blue), var(--alice-blue), var(--carolina-blue));
    background-size: 800% 800%;
    animation: backgroundWave 12s ease-in-out infinite;
    color: var(--black);
}

.card-container {
    /* flex: 1 1 130px;
    flex-basis: 130px; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* max-width: calc (33.333% - 40px); */
    margin: 20px;
    border-radius: 20px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position : relative;
}

.card-previsao-tempo, .card-fluxo-rodovias, .card-fluxo-aeroportos, .card-condicoes-agronomicas {
    flex: auto;
    animation: backgroundWave 12s ease-in-out infinite;
}

.btn-card {
    width: 90%;
}

@keyframes backgroundWave {
    0% { 
        background-position: 0% 50%;
        background-color: var(--light-skyblue);
    }
    50% { 
        background-position: 100% 50%;
        background-color: var(--celestial-blue);
    }
    100% { 
        background-position: 0% 50%;
        background-color: var(--alice-blue);
    }
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        flex-basis: auto;
        margin: 10px 0;
    }
}

.input-card {
    width: calc(100% - 40px);
    margin: 5px 0;
}

@keyframes tempoColor {
    0% { background-color: var(--gray-1);}
    20% { background-color: var(--gray-2);}
    40% { background-color: var(--gray-3);}
    60% { background-color: var(--gray-4);}
    80% { background-color: var(--gray-5);}
    100% { background-color: var(--gray-1);}
}

.card-previsao-tempo {
    /* background-image: url('/css/images/Andrehlb-2024-01-04weatherForecast-iconsSunCloudsRainThunder.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: var(--celestial-blue);
    border-radius: 10px;
    padding: 15px;
    animation: tempoColor 5s linear infinite;
}

.card-previsao-tempo::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, 0.5); */
}

.card-previsao-tempo > * {
    position: relative;
    z-index: 2;
}

@keyframes rodoviasColor {
    0% { background-color: var(--gray-1);}
    20% { background-color: var(--gray-2);}
    40% { background-color: var(--gray-3);}
    60% { background-color: var(--gray-4);}
    80% { background-color: var(--gray-5);}
    100% { background-color: var(--gray-1);}
}

.card-fluxo-rodovias {
    /* background-image: url('/css/images/Andrehlb2024-01-03-SVG-wideTransparentCentralArea-smallTrafficIconsCarsTrucksTraffic_lightsRoad_signs.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 15px;
    animation: rodoviasColor 5s linear infinite;
}

.card-fluxo-rodovias::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, 0.5); */
}

.card-fluxo-rodovias > * {
    position: relative;
    z-index: 2;
}

.card-fluxo-aeroportos {
    /* background-image: url('/css/images/Andrehlb-2024-01-03-SVG-largeTransparentCentral-smallAirportIconsAirplanesControl_towersLuggage.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: var(--light-navy);
}

.card-fluxo-aeroportos::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, 0.5); */
}

.card-fluxo-aeroportos > * {
    position: relative;
    z-index: 2;
}

.card-condicoes-agronomicas {
    /* background-image: url('/css/images/Andrehlb2024-01-03-SVG-LargeTransparentCentralArea-smallAgriculturalIconsPlantsTractorsCrops.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 200px;
    background-color: var(--green);
}

.card-condicoes-agronomicas::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, 0.5); */
}

.card-condicoes-agronomicas > * {
    position: relative;
    z-index: 2;
}

.card-container {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* filter:brightness(70%); */
}