/* Sky_Andrehlb color pallet */
:root {
    --light-skyblue: #87C3E7;
    --celestial-blue: #4192CA;
    --steel-blue: #3481C9;
    --alice-blue: #DDEBF2;
    --carolina-blue: #6BB5D2;
}

/* Sun_Andrehlb color pallet */
:root {
    --xanthous: #F8C76A;
    --vanilla: #F8EbbF;
    --jasmine: #FDE285;
    --peach-yellow: #F4DFAC;
    --jasmine-darker: #FDD87E;
}

@keyframes backgroundWave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(300deg, var(--light-skyblue), var(--celestial-blue), var(--alice-blue), var(--carolina-blue));
    background-size: 800% 800%;
    animation: backgroundWave 12s ease-in-out infinite;
    color: var(--blue-white);
}

.card-container {
    display: flex;
    
}