/* Sky_Andrehlb color pallet */
:root {
    --light-skyblue: #87C3E7;
    --celestial-blue: #4192CA;
    --steel-blue: #3481C9;
    --alice-blue: #DDEBF2;
    --carolina-blue: #6BB5D2;
}

/* Sun_Andrehlb color pallet */
:root {
    --xanthous: #F8C76A;
    --vanilla: #F8EbbF;
    --jasmine: #FDE285;
    --peach-yellow: #F4DFAC;
    --jasmine-darker: #FDD87E;
}

@keyframes backgroundWave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
    
body {
    font-family: 'San Francisco', 'Segoe UI', Roboto, sans-serif;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(300deg, var(--light-skyblue), var(--celestial-blue), var(--alice-blue), var(--carolina-blue));
    background-size: 800% 800%;
    animation: backgroundWave 12s ease-in-out infinite;
    color: var(--blue-white);
}

.card-container {
    display: flex;
    justify-content:  space-aroubd;
    margin-bottom: 20px;
}

.card, .card-large {
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.input-card {
    width: calc(100% - 40px);
    margin: 5px 0;
}

.btn-card {
    width: 90%;
}

.card-large {
    width: 200px;
    background-color: rgb(110, 161, 33);
}

#tempo {
    background-color: rgb(60, 60, 205);
}

#rodovias{
    background-color: #a52a2a;
}

#aeroportos {
    background-color: #ff0000
}

.card:hover, .card-large:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    filter:brightness(70%);
}